<div class="favourite-place place-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center">
                    <h2>LỊCH SỬ ĐẶT VÉ</h2>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-contnet-center border border-dark">
            <div class="col-lg-12 post-list " style="background-color: #4980f7;">
                <div class="media align-items-center">
                    <div class="media-body">
                        <h4>Lịch sử đặt vé</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered" id="flight-list">
                            <colgroup>
                                <col width="10%">
                                <col width="20%">
                                <col width="20%">
                                <col width="10%">
                                <col width="15%">
                                <col width="15%">
                                <col width="10%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="text-center">Mã số vé</th>
                                    <th class="text-center">Giờ khởi hành</th>
                                    <th class="text-center">Giờ hạ cánh</th>
                                    <th class="text-center">Hạng chuyến bay</th>
                                    <th class="text-center">Nơi đi</th>
                                    <th class="text-center">Nơi đến</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each myTicket}}
                                <tr>
                                    <td class="text-center">{{this._id}}</td>
                                    <td class="text-center">{{dateTicket this.flightId.hourStart}}</td>
                                    <td class="text-center">{{dateTicket this.flightId.hourEnd}}</td>
                                    <td class="text-center">{{this.ticketClass}}</td>
                                    <td class="text-center">{{location this.flightId.fromPlace}}</td>
                                    <td class="text-center">{{location this.flightId.toPlace}}</td>
                                    <td class="text-center">
                                        <a href="/detail_book/{{this._id}}">Chi tiết</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>